{
    "name": "Rig2",
    "AuxAudioDevice1": {
        "prev_ver": 536936450,
        "name": "Mic/Aux",
        "uuid": "f08826f5-cc05-47b0-87a2-a09179ee0ea0",
        "id": "coreaudio_input_capture",
        "versioned_id": "coreaudio_input_capture",
        "settings": {
            "device_id": "AppleUSBAudioEngine:Generic:Blue Microphones:2302BAH02MC8:1"
        },
        "mixers": 255,
        "sync": 0,
        "flags": 2,
        "volume": 1.0,
        "balance": 0.5,
        "enabled": true,
        "muted": true,
        "push-to-mute": false,
        "push-to-mute-delay": 0,
        "push-to-talk": false,
        "push-to-talk-delay": 0,
        "hotkeys": {
            "libobs.mute": [],
            "libobs.unmute": [],
            "libobs.push-to-mute": [],
            "libobs.push-to-talk": []
        },
        "deinterlace_mode": 0,
        "deinterlace_field_order": 0,
        "monitoring_type": 0,
        "private_settings": {},
        "filters": [
            {
                "prev_ver": 536936450,
                "name": "Noise Suppression",
                "uuid": "8e7f0829-3ba1-4409-ba42-d8d0ff636be0",
                "id": "noise_suppress_filter",
                "versioned_id": "noise_suppress_filter_v2",
                "settings": {
                    "method": "rnnoise"
                },
                "mixers": 255,
                "sync": 0,
                "flags": 0,
                "volume": 1.0,
                "balance": 0.5,
                "enabled": true,
                "muted": false,
                "push-to-mute": false,
                "push-to-mute-delay": 0,
                "push-to-talk": false,
                "push-to-talk-delay": 0,
                "hotkeys": {},
                "deinterlace_mode": 0,
                "deinterlace_field_order": 0,
                "monitoring_type": 0,
                "private_settings": {}
            },
            {
                "prev_ver": 536936450,
                "name": "Noise Gate",
                "uuid": "0bf7b74c-83a6-4d5a-875b-e559dc803031",
                "id": "noise_gate_filter",
                "versioned_id": "noise_gate_filter",
                "settings": {
                    "open_threshold": -32,
                    "close_threshold": -38,
                    "attack_time": 25,
                    "hold_time": 200,
                    "release_time": 150
                },
                "mixers": 255,
                "sync": 0,
                "flags": 0,
                "volume": 1.0,
                "balance": 0.5,
                "enabled": true,
                "muted": false,
                "push-to-mute": false,
                "push-to-mute-delay": 0,
                "push-to-talk": false,
                "push-to-talk-delay": 0,
                "hotkeys": {},
                "deinterlace_mode": 0,
                "deinterlace_field_order": 0,
                "monitoring_type": 0,
                "private_settings": {}
            },
            {
                "prev_ver": 536936450,
                "name": "Compressor",
                "uuid": "9ee6aecb-3a7a-4c51-91c7-bff0977d8d40",
                "id": "compressor_filter",
                "versioned_id": "compressor_filter",
                "settings": {
                    "ratio": 4,
                    "threshold": -18,
                    "attack_time": 6,
                    "release_time": 60,
                    "output_gain": 9
                },
                "mixers": 255,
                "sync": 0,
                "flags": 0,
                "volume": 1.0,
                "balance": 0.5,
                "enabled": true,
                "muted": false,
                "push-to-mute": false,
                "push-to-mute-delay": 0,
                "push-to-talk": false,
                "push-to-talk-delay": 0,
                "hotkeys": {},
                "deinterlace_mode": 0,
                "deinterlace_field_order": 0,
                "monitoring_type": 0,
                "private_settings": {}
            },
            {
                "prev_ver": 536936450,
                "name": "Limiter",
                "uuid": "5a2179af-0147-4026-8e7e-685c7b64379f",
                "id": "limiter_filter",
                "versioned_id": "limiter_filter",
                "settings": {
                    "threshold": -3,
                    "release_time": 60
                },
                "mixers": 255,
                "sync": 0,
                "flags": 0,
                "volume": 1.0,
                "balance": 0.5,
                "enabled": true,
                "muted": false,
                "push-to-mute": false,
                "push-to-mute-delay": 0,
                "push-to-talk": false,
                "push-to-talk-delay": 0,
                "hotkeys": {},
                "deinterlace_mode": 0,
                "deinterlace_field_order": 0,
                "monitoring_type": 0,
                "private_settings": {}
            }
        ]
    },
    "sources": [
        {
            "prev_ver": 536936450,
            "name": "Syphon Client RAW",
            "uuid": "77a7c4aa-2c6a-4c83-97d0-ce8652ad7fdb",
            "id": "syphon-input",
            "versioned_id": "syphon-input",
            "settings": {
                "uuid": "info.v002.Syphon.2DC63404-3CE7-4703-B4DB-D5390CD7FA54",
                "app_name": "Camera Live",
                "name": "Sony ILCE-6400 (PC Control)"
            },
            "mixers": 0,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {},
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "private_settings": {}
        },
        {
            "prev_ver": 536936450,
            "name": "cockpitvid",
            "uuid": "dce70255-3598-42a8-a82b-6638d8d79c43",
            "id": "ffmpeg_source",
            "versioned_id": "ffmpeg_source",
            "settings": {
                "local_file": "__COCKPIT_MP4__",
                "looping": true,
                "speed_percent": 39
            },
            "mixers": 255,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "libobs.mute": [],
                "libobs.unmute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": [],
                "MediaSource.Restart": [],
                "MediaSource.Play": [],
                "MediaSource.Pause": [],
                "MediaSource.Stop": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "private_settings": {}
        },
        {
            "prev_ver": 536936450,
            "name": "sloptuberender",
            "uuid": "9ede78e5-f4cc-4434-b264-aeface87c361",
            "id": "screen_capture",
            "versioned_id": "screen_capture",
            "settings": {
                "type": 1,
                "window": 12647
            },
            "mixers": 255,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "libobs.mute": [],
                "libobs.unmute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "private_settings": {},
            "filters": [
                {
                    "prev_ver": 536936450,
                    "name": "Crop/Pad",
                    "uuid": "3f77e898-2749-4e6e-b2d4-73d054bdbfc2",
                    "id": "crop_filter",
                    "versioned_id": "crop_filter",
                    "settings": {
                        "top": 88
                    },
                    "mixers": 0,
                    "sync": 0,
                    "flags": 0,
                    "volume": 1.0,
                    "balance": 0.5,
                    "enabled": true,
                    "muted": false,
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "hotkeys": {},
                    "deinterlace_mode": 0,
                    "deinterlace_field_order": 0,
                    "monitoring_type": 0,
                    "private_settings": {}
                }
            ]
        },
        {
            "prev_ver": 536936450,
            "name": "sloptubefront",
            "uuid": "e0feb76e-d23f-4dc3-a3a1-b4e9c53f5e24",
            "id": "screen_capture",
            "versioned_id": "screen_capture",
            "settings": {
                "type": 1,
                "window": 12666
            },
            "mixers": 255,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "libobs.mute": [],
                "libobs.unmute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "private_settings": {},
            "filters": [
                {
                    "prev_ver": 536936450,
                    "name": "Crop/Pad",
                    "uuid": "8dc7c92b-073c-4a7a-abfb-09ae385ff664",
                    "id": "crop_filter",
                    "versioned_id": "crop_filter",
                    "settings": {
                        "top": 86
                    },
                    "mixers": 0,
                    "sync": 0,
                    "flags": 0,
                    "volume": 1.0,
                    "balance": 0.5,
                    "enabled": true,
                    "muted": false,
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "hotkeys": {},
                    "deinterlace_mode": 0,
                    "deinterlace_field_order": 0,
                    "monitoring_type": 0,
                    "private_settings": {}
                },
                {
                    "prev_ver": 536936450,
                    "name": "Luma Key",
                    "uuid": "ef0717c1-22c3-4867-9eab-d120583d28cd",
                    "id": "luma_key_filter",
                    "versioned_id": "luma_key_filter_v2",
                    "settings": {},
                    "mixers": 0,
                    "sync": 0,
                    "flags": 0,
                    "volume": 1.0,
                    "balance": 0.5,
                    "enabled": true,
                    "muted": false,
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "hotkeys": {},
                    "deinterlace_mode": 0,
                    "deinterlace_field_order": 0,
                    "monitoring_type": 0,
                    "private_settings": {}
                }
            ]
        },
        {
            "prev_ver": 536936450,
            "name": "a6400 HDMI",
            "uuid": "fe4a4048-d713-49de-832e-4268b21a924b",
            "id": "macos-avcapture",
            "versioned_id": "macos-avcapture",
            "settings": {
                "device_name": "Cam Link 4K",
                "device": "0x2110000fd900a1"
            },
            "mixers": 255,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "libobs.mute": [],
                "libobs.unmute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "private_settings": {},
            "filters": [
                {
                    "prev_ver": 536936450,
                    "name": "Chroma Key",
                    "uuid": "51ba4669-694d-4334-b1e5-b2d3fbadfcff",
                    "id": "chroma_key_filter",
                    "versioned_id": "chroma_key_filter_v2",
                    "settings": {
                        "contrast": 0.0,
                        "brightness": 0.0,
                        "gamma": 0.0,
                        "similarity": 442,
                        "smoothness": 60,
                        "spill": 60
                    },
                    "mixers": 0,
                    "sync": 0,
                    "flags": 0,
                    "volume": 1.0,
                    "balance": 0.5,
                    "enabled": true,
                    "muted": false,
                    "push-to-mute": false,
                    "push-to-mute-delay": 0,
                    "push-to-talk": false,
                    "push-to-talk-delay": 0,
                    "hotkeys": {},
                    "deinterlace_mode": 0,
                    "deinterlace_field_order": 0,
                    "monitoring_type": 0,
                    "private_settings": {}
                }
            ]
        },
        {
            "prev_ver": 536936450,
            "name": "macOS Screen Capture",
            "uuid": "092c189c-c30d-459f-b76d-396dc3c2987d",
            "id": "screen_capture",
            "versioned_id": "screen_capture",
            "settings": {
                "type": 1,
                "window": 13048
            },
            "mixers": 255,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "libobs.mute": [],
                "libobs.unmute": [],
                "libobs.push-to-mute": [],
                "libobs.push-to-talk": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "private_settings": {}
        },
        {
            "prev_ver": 536936450,
            "name": "FULLYOURAW",
            "uuid": "711e8bd4-e781-4a20-b8d8-e7d21dce54db",
            "id": "scene",
            "versioned_id": "scene",
            "settings": {
                "id_counter": 3,
                "custom_size": false,
                "items": [
                    {
                        "name": "Syphon Client RAW",
                        "source_uuid": "77a7c4aa-2c6a-4c83-97d0-ce8652ad7fdb",
                        "visible": false,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "align": 5,
                        "bounds_type": 0,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 2,
                        "group_item_backup": false,
                        "pos": {
                            "x": 24.0,
                            "y": 14.25
                        },
                        "pos_rel": {
                            "x": -1.7333333492279053,
                            "y": -0.9740740656852722
                        },
                        "scale": {
                            "x": 1.875,
                            "y": 1.875
                        },
                        "scale_rel": {
                            "x": 1.875,
                            "y": 1.875
                        },
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_rel": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 300
                        },
                        "hide_transition": {
                            "duration": 300
                        },
                        "private_settings": {}
                    },
                    {
                        "name": "a6400 HDMI",
                        "source_uuid": "fe4a4048-d713-49de-832e-4268b21a924b",
                        "visible": true,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "align": 5,
                        "bounds_type": 0,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 3,
                        "group_item_backup": false,
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "pos_rel": {
                            "x": -1.7777777910232544,
                            "y": -1.0
                        },
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_rel": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_rel": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 0
                        },
                        "hide_transition": {
                            "duration": 0
                        },
                        "private_settings": {}
                    }
                ]
            },
            "mixers": 0,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [],
                "libobs.show_scene_item.2": [],
                "libobs.hide_scene_item.2": [],
                "libobs.show_scene_item.3": [],
                "libobs.hide_scene_item.3": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "canvas_uuid": "6c69626f-6273-4c00-9d88-c5136d61696e",
            "private_settings": {}
        },
        {
            "prev_ver": 536936450,
            "name": "COCKPIT",
            "uuid": "8cf16ccf-34e0-4d1d-9fff-1477ea747bf0",
            "id": "scene",
            "versioned_id": "scene",
            "settings": {
                "id_counter": 3,
                "custom_size": false,
                "items": [
                    {
                        "name": "cockpitvid",
                        "source_uuid": "dce70255-3598-42a8-a82b-6638d8d79c43",
                        "visible": true,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "align": 5,
                        "bounds_type": 0,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 2,
                        "group_item_backup": false,
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "pos_rel": {
                            "x": -1.7777777910232544,
                            "y": -1.0
                        },
                        "scale": {
                            "x": 2.328125,
                            "y": 2.327586
                        },
                        "scale_rel": {
                            "x": 2.328125,
                            "y": 2.3275861740112305
                        },
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_rel": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 300
                        },
                        "hide_transition": {
                            "duration": 300
                        },
                        "private_settings": {}
                    },
                    {
                        "name": "a6400 HDMI",
                        "source_uuid": "fe4a4048-d713-49de-832e-4268b21a924b",
                        "visible": true,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "align": 5,
                        "bounds_type": 2,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 3,
                        "group_item_backup": false,
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "pos_rel": {
                            "x": -1.7777777910232544,
                            "y": -1.0
                        },
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_rel": {
                            "x": 1.5,
                            "y": 1.5
                        },
                        "bounds": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "bounds_rel": {
                            "x": 3.555555582046509,
                            "y": 2.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 0
                        },
                        "hide_transition": {
                            "duration": 0
                        },
                        "private_settings": {}
                    }
                ]
            },
            "mixers": 0,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [],
                "libobs.show_scene_item.2": [],
                "libobs.hide_scene_item.2": [],
                "libobs.show_scene_item.3": [],
                "libobs.hide_scene_item.3": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "canvas_uuid": "6c69626f-6273-4c00-9d88-c5136d61696e",
            "private_settings": {}
        },
        {
            "prev_ver": 536936450,
            "name": "SLOPTUBE",
            "uuid": "e41baffb-63ee-4ed2-9ba5-4f0b3540e03a",
            "id": "scene",
            "versioned_id": "scene",
            "settings": {
                "id_counter": 4,
                "custom_size": false,
                "items": [
                    {
                        "name": "sloptuberender",
                        "source_uuid": "9ede78e5-f4cc-4434-b264-aeface87c361",
                        "visible": true,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "align": 5,
                        "bounds_type": 0,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 2,
                        "group_item_backup": false,
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "pos_rel": {
                            "x": -1.7777777910232544,
                            "y": -1.0
                        },
                        "scale": {
                            "x": 0.747266,
                            "y": 0.747159
                        },
                        "scale_rel": {
                            "x": 0.747265636920929,
                            "y": 0.7471590638160706
                        },
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_rel": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 300
                        },
                        "hide_transition": {
                            "duration": 300
                        },
                        "private_settings": {}
                    },
                    {
                        "name": "a6400 HDMI",
                        "source_uuid": "fe4a4048-d713-49de-832e-4268b21a924b",
                        "visible": true,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "align": 5,
                        "bounds_type": 0,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 4,
                        "group_item_backup": false,
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "pos_rel": {
                            "x": -1.7777777910232544,
                            "y": -1.0
                        },
                        "scale": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "scale_rel": {
                            "x": 1.0,
                            "y": 1.0
                        },
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_rel": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 0
                        },
                        "hide_transition": {
                            "duration": 0
                        },
                        "private_settings": {}
                    },
                    {
                        "name": "sloptubefront",
                        "source_uuid": "e0feb76e-d23f-4dc3-a3a1-b4e9c53f5e24",
                        "visible": true,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "align": 5,
                        "bounds_type": 0,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 3,
                        "group_item_backup": false,
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "pos_rel": {
                            "x": -1.7777777910232544,
                            "y": -1.0
                        },
                        "scale": {
                            "x": 0.747266,
                            "y": 0.747518
                        },
                        "scale_rel": {
                            "x": 0.747265636920929,
                            "y": 0.7475177049636841
                        },
                        "bounds": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "bounds_rel": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 300
                        },
                        "hide_transition": {
                            "duration": 300
                        },
                        "private_settings": {}
                    }
                ]
            },
            "mixers": 0,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [],
                "libobs.show_scene_item.2": [],
                "libobs.hide_scene_item.2": [],
                "libobs.show_scene_item.4": [],
                "libobs.hide_scene_item.4": [],
                "libobs.show_scene_item.3": [],
                "libobs.hide_scene_item.3": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "canvas_uuid": "6c69626f-6273-4c00-9d88-c5136d61696e",
            "private_settings": {}
        },
        {
            "prev_ver": 536936450,
            "name": "teleprompter",
            "uuid": "56a93840-d3e7-4fa3-9555-b7ba26b1f5b9",
            "id": "scene",
            "versioned_id": "scene",
            "settings": {
                "id_counter": 1,
                "custom_size": false,
                "items": [
                    {
                        "name": "macOS Screen Capture",
                        "source_uuid": "092c189c-c30d-459f-b76d-396dc3c2987d",
                        "visible": true,
                        "locked": false,
                        "rot": 0.0,
                        "scale_ref": {
                            "x": 1280.0,
                            "y": 720.0
                        },
                        "align": 5,
                        "bounds_type": 2,
                        "bounds_align": 0,
                        "bounds_crop": false,
                        "crop_left": 0,
                        "crop_top": 0,
                        "crop_right": 0,
                        "crop_bottom": 0,
                        "id": 1,
                        "group_item_backup": false,
                        "pos": {
                            "x": 0.0,
                            "y": 0.0
                        },
                        "pos_rel": {
                            "x": -1.7777777910232544,
                            "y": -1.0
                        },
                        "scale": {
                            "x": -1.0,
                            "y": 1.0
                        },
                        "scale_rel": {
                            "x": -1.0,
                            "y": 1.0
                        },
                        "bounds": {
                            "x": 1920.0,
                            "y": 1080.0
                        },
                        "bounds_rel": {
                            "x": 3.555555582046509,
                            "y": 2.0
                        },
                        "scale_filter": "disable",
                        "blend_method": "default",
                        "blend_type": "normal",
                        "show_transition": {
                            "duration": 300
                        },
                        "hide_transition": {
                            "duration": 300
                        },
                        "private_settings": {}
                    }
                ]
            },
            "mixers": 0,
            "sync": 0,
            "flags": 0,
            "volume": 1.0,
            "balance": 0.5,
            "enabled": true,
            "muted": false,
            "push-to-mute": false,
            "push-to-mute-delay": 0,
            "push-to-talk": false,
            "push-to-talk-delay": 0,
            "hotkeys": {
                "OBSBasic.SelectScene": [],
                "libobs.show_scene_item.1": [],
                "libobs.hide_scene_item.1": []
            },
            "deinterlace_mode": 0,
            "deinterlace_field_order": 0,
            "monitoring_type": 0,
            "canvas_uuid": "6c69626f-6273-4c00-9d88-c5136d61696e",
            "private_settings": {}
        }
    ],
    "groups": [],
    "scene_order": [
        {
            "name": "FULLYOURAW"
        },
        {
            "name": "COCKPIT"
        },
        {
            "name": "SLOPTUBE"
        },
        {
            "name": "teleprompter"
        }
    ],
    "current_scene": "teleprompter",
    "current_program_scene": "SLOPTUBE",
    "canvases": [],
    "current_transition": "Fade",
    "transition_duration": 300,
    "transitions": [],
    "quick_transitions": [
        {
            "name": "Cut",
            "duration": 300,
            "hotkeys": [],
            "id": 1,
            "fade_to_black": false
        },
        {
            "name": "Fade",
            "duration": 300,
            "hotkeys": [],
            "id": 2,
            "fade_to_black": false
        },
        {
            "name": "Fade",
            "duration": 300,
            "hotkeys": [],
            "id": 5,
            "fade_to_black": true
        }
    ],
    "saved_projectors": [
        {
            "name": "a6400 HDMI",
            "monitor": -1,
            "type": 0,
            "geometry": "AdnQywADAAD///gtAAAFb///+gwAAAad///4LQAABY////oMAAAGnQAAAAIAAAAACgD///gtAAAFj///+gwAAAad",
            "alwaysOnTopOverridden": false
        },
        {
            "name": "teleprompter",
            "monitor": 1,
            "type": 1,
            "geometry": "AdnQywADAAAAAAoAAAABaAAAEX8AAAWfAAAKAAAAAWgAABF/AAAFnwAAAAEABAAAB4AAAAoAAAABaAAAEX8AAAWf",
            "alwaysOnTopOverridden": false
        }
    ],
    "preview_locked": false,
    "scaling_enabled": false,
    "scaling_level": -5,
    "scaling_off_x": 0.0,
    "scaling_off_y": 0.0,
    "virtual-camera": {
        "type2": 3
    },
    "modules": {
        "scripts-tool": [],
        "output-timer": {
            "streamTimerHours": 0,
            "streamTimerMinutes": 0,
            "streamTimerSeconds": 30,
            "recordTimerHours": 0,
            "recordTimerMinutes": 0,
            "recordTimerSeconds": 30,
            "autoStartStreamTimer": false,
            "autoStartRecordTimer": false,
            "pauseRecordTimer": true
        },
        "auto-scene-switcher": {
            "interval": 300,
            "non_matching_scene": "",
            "switch_if_not_matching": false,
            "active": false,
            "switches": []
        }
    },
    "resolution": {
        "x": 1280,
        "y": 720
    },
    "migration_resolution": {
        "x": 1920,
        "y": 1080
    },
    "version": 2
}
